@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Enter your components here */
  /* Navigation (nav) */
  .nav {
    @apply uppercase;
  }

  .nav-logo {
    @apply mx-auto mt-[0.5rem] p-[2rem] w-[1rem] h-[1rem] cursor-pointer;
  }

  .nav-logo-txt {
    @apply flex-[0.8] cursor-pointer text-[30px] text-white font-bold uppercase;
  }

  @media (max-width: 1024px) {
    .nav-logo-txt {
      @apply hidden;
    }
  }

  .nav-link {
		@apply relative font-semibold text-white cursor-pointer text-[20px] md:text-[18px] sm:text-[17px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
	}

  /* Mobile Navigation (mnav) */
  .mnav {
    @apply uppercase;
  }

	.mnav-link {
		@apply relative mb-[2rem] font-extrabold text-white cursor-pointer text-[22px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
	}

  .hero {
    @apply mt-[10.5vh] h-[89.5vh] w-[100%] bg-[url('/images/bg.jpg')] bg-cover bg-center;
  }

  .hero-container {
    @apply flex flex-col items-center justify-center;
  }

  /* Footer Area Do not Interfere */
  .footer {
    @apply px-[2rem] py-[2rem] mb-0 bg-[#0b1016] text-slate-400;
  }

  .footer-main {
    /* removing lg:grid-cols-4 */
    @apply grid pb-[2rem] grid-cols-1 md:grid-cols-4 w-[80%] mx-auto gap-[2rem];
  }

  .footer-content {
    @apply flex items-center md:justify-center space-x-6;
  }

  .footer-logo{
    @apply hidden md:contents w-[6rem] h-[6rem] items-center justify-center;
  }

  .footer-address {
    @apply mt-[0.5rem] md:mt-[3.5rem] font-extralight text-[10.7px] md:text-[18px];
  }

  .footer-address h1 {
    @apply text-[12px] md:text-[16px] font-bold pb-2 underline;
  }

  .footer-data {
    @apply mt-[0.5rem] md:mt-[3rem] items-center font-extralight px-[1rem];
  }

  .footer-data h1 {
    @apply text-[12px] md:text-[16px] font-bold pb-2 underline;
  }

  .footer-data p {
    @apply hover:underline text-[12px] md:text-[16px];
  }

  .footer-map-container {
    @apply flex justify-center items-center;
  }

  .footer-map {
    @apply pb-[2rem];
  }

  .footer-map h1 {
    @apply text-[12px] md:text-[18px] items-center justify-center font-bold pb-[1rem] underline;
  }

  .footer-map iframe {
    @apply flex w-[320px] h-[230px] md:w-[1300px] md:h-[340px] items-center justify-center;
  }

  .footer-copyright {
    @apply flex items-center justify-center px-0 text-[12px] md:text-[14px] sm:text-[13px];
  }

  /* All the test components will start with "t" prefix for eg: tslider (which means test slider) */
  .gallery {
    @apply mt-[1rem] w-[90%] md:w-[60%] mx-auto;
  }
  .gcarousel {
    @apply h-[14rem] sm:h-64 xl:h-80 2xl:h-96;
  }
  .carousel img {
    @apply w-full h-full; 
  }
  /* This area only belongs for testing purpose only */
}